<a href="https://colab.research.google.com/github/rajitakolla/computational_methods/blob/master/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here

import numpy as np



def generate_numbers(start, end, numbers):
  # generate random numbers without duplicates
  return np.random.permutation(np.arange(start,end))[:numbers]
  pass


def sort_the_numbers(list_of_numbers):
  #sort the list
  return sorted(list_of_numbers,reverse= True)
  pass


list_of_numbers = generate_numbers(1,100,12)
print("List of random numbers : ",list_of_numbers)
sorted_list = sort_the_numbers(list_of_numbers)
print("Sorted list : ", sorted_list)
average_result = np.average(sorted_list)
print("Average result : ", average_result)

List of random numbers :  [25  5 37 29 62 50 84 45 19  6 69 75]
Sorted list :  [84, 75, 69, 62, 50, 45, 37, 29, 25, 19, 6, 5]
Average result :  42.166666666666664

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
# Your code here

import re
import string

#question 2
def parse_the_string_to_list(sentence):
  #compare witg the regular expression
  p = re.compile(r'\w+|[^\w\s]')
  return p.findall(sentence)
  pass

#question 1
sentence1 = input("Enter sentence 1 : ")
sentence2 = input("Enter sentence 2 : ")


list1 = parse_the_string_to_list(sentence1)
print("List1 output : ",list1)
list2 = parse_the_string_to_list(sentence2)
print("List2 output : ",list2)

#question 3
def find_the_common_words(l1, l2):
  return (set(l1).intersection(set(l2)))
  pass

print("common words : :",find_the_common_words(list1,list2))


#question 4

print("Sentence 1 after removing punctuations : ", sentence1.translate(str.maketrans('','',string.punctuation)))
print("Sentence 2 after removing punctuations : ", sentence2.translate(str.maketrans('','',string.punctuation)))

vowels = ['a','e','i','o','u','A','E','I','O','U']
#question 5
def count_the_number_of_vowels(sentence):
  res = dict()
  for i in vowels:
    n = sentence.count(i)
    if(n > 0):
      res[i] = n
  return res

print("Number of vowels in sentence 1 : ",count_the_number_of_vowels(sentence1))
print("Number of vowels in sentence 2 : ",count_the_number_of_vowels(sentence2))

Enter sentence 1 : hello
Enter sentence 2 : world
List1 output :  ['hello']
List2 output :  ['world']
common words : : set()
Sentence 1 after removing punctuations :  hello
Sentence 2 after removing punctuations :  world
Number of vowels in sentence 1 :  {'e': 1, 'o': 1}
Number of vowels in sentence 2 :  {'o': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
# Your code here
#compute the volume of sphere
import math
def  volume_of_sphere():
  print("r    v")
  for i in range(1,11):
    print(i,"  ",4*(math.pi)*pow(i,3)/3)
  pass
volume_of_sphere()

r    v
1    4.1887902047863905
2    33.510321638291124
3    113.09733552923255
4    268.082573106329
5    523.5987755982989
6    904.7786842338604
7    1436.755040241732
8    2144.660584850632
9    3053.6280592892786
10    4188.790204786391

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [1]:
# Your code here
import pandas as pd


data = pd.read_csv("https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/Assignments/Assignment1_denton_housing.csv",skip_blank_lines=True)

#question 1
#filter the dataset basing on title field = occupied housing units
data_occupied_housing_units = data[(data["title_field"]=="Occupied Housing Units")].sort_values(by='year',ascending=True)
#compute the difference, sort the values  and drop the NaN fields if any
print(data_occupied_housing_units['value'].diff().sort_values().dropna())

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
Name: value, dtype: float64

In [2]:
#question 2

#extract the values to list
data_occupied_housing_units_value = data_occupied_housing_units["value"].to_list()
data_vacant_housing_units_value = data[(data["title_field"]=="Vacant Housing Units")].sort_values(by='year',ascending=True)["value"].to_list()
total_field_unit_value = data[(data["title_field"]=="Total Housing Units")].sort_values(by='year',ascending=True)["value"].to_list()
data_year = sorted(data['year'].unique())

#compute percentage
def fetch_percentages(val,tot):
  l = len(val)
  res = list()
  for i in range(l):
    res.append(str(round(val[i]*100/tot[i],2))+"%")
  return res
  pass

occupied_units_percentage = fetch_percentages(data_occupied_housing_units_value,total_field_unit_value)
vacant_units_percentage = fetch_percentages(data_vacant_housing_units_value,total_field_unit_value)

df_row = pd.concat([pd.DataFrame(data_year,columns=['year']),
                    pd.DataFrame(vacant_units_percentage,columns=['| vacant housing percentage']), 
                    pd.DataFrame(occupied_units_percentage,columns=['| occupied housing percentage'])],axis=1)
print(df_row)

   year | vacant housing percentage | occupied housing percentage
0  2008                      10.88%                        89.12%
1  2009                       9.07%                        90.93%
2  2010                       8.14%                        91.86%
3  2011                       9.38%                        90.62%
4  2012                       6.68%                        93.32%
5  2013                        8.8%                         91.2%
6  2014                       5.73%                        94.27%

In [5]:
#question 3

def fetch_the_year(housing_unit,max_units):
  return data_year[housing_unit.index(max_units)]
  pass

val = ["Vacant Housing Units","Occupied Housing Units"]
years = list()
units = list()
max_vacant_units = max(data_vacant_housing_units_value)
units.append(max_vacant_units)
years.append(fetch_the_year(data_vacant_housing_units_value,max_vacant_units))
max_occupied_units = max(data_occupied_housing_units_value)
units.append(max_occupied_units)
years.append(fetch_the_year(data_occupied_housing_units_value,max_occupied_units))
df_row = pd.concat([pd.DataFrame(val,columns=['']),
                    pd.DataFrame(years,columns=['year']), 
                    pd.DataFrame(units,columns=['units'])],axis=1)

df_row

                           year  units
0    Vacant Housing Units  2008   4483
1  Occupied Housing Units  2014  46295

In [ ]:
#question 4
from scipy import stats
print('harmonic mean of total housing units =', round(stats.hmean(total_field_unit_value),2))

harmonic mean of total housing units = 44398.29